@font-face {
  font-family: 'Lucon'; 
  src: url('./resources/lucon.ttf') format('truetype'); 
}

:root {
  --background: #ffffff4f;
  --backgroundGradient: #000a;
  --text: #1a0811db;
  --primary: #8087B5;
  --secondary: #55648D;
  --container: #ffffff1a;
}

/* Dark Mode */
body.dark-mode {
  --background: #001d3d;
  --backgroundGradient: #000814;
  --text: #fffd;
  --primary: #55648D;
  --secondary: #8087B5;
  --container: #ffffff1a;
}

*{
  margin: 0;
  padding: 0;
  color: var(--text);
  font-family: 'Lucon';
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  position: relative;
}
a:hover::after,a:focus::after{
  content: "▼";
  font-size: x-large;  
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  animation: blink infinite  1s;
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
}
.app{
  height: 100vh;
  filter: url(#SphereMapTest);
}
.container{
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 70%;
  padding: 1em;
  margin: 1em auto;
  background-color: var(--container);
  border-radius: 1em;
}
body {
  color: var(--text);
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle, var(--background), var(--backgroundGradient));
  overflow: hidden;
  position: relative;
  filter: contrast(150%) hue-rotate(30deg);
}
